{% extends 'base.html' %}


   {% block title %}Dashboard{% endblock title %}


        <!-- Content Start -->
         {% block content %}
        


            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-4">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-line fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Income</p>
                                <h6 class="mb-0">${{total_income|floatformat:2}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-bar fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Total Expenses</p>
                                <h6 class="mb-0">${{total_expense|floatformat:2}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-4">
                        <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                            <i class="fa fa-chart-area fa-3x text-primary"></i>
                            <div class="ms-3">
                                <p class="mb-2">Net Savings</p>
                                <h6 class="mb-0">${{net_savings|floatformat:2}}</h6>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
            <!-- Sale & Revenue End -->


            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Your goals</h6>
                                <a href="{% url 'goal_list' %}">Show All</a>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Target Amount</th>
                                    <th scope="col">Deadline</th>
                                    <th scope="col">Progress</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in goal_progress %}
                                    <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{item.goal.name}}</td>
                                    <td>{{item.goal.target_amount|floatformat:2}}</td>
                                    <td>{{item.goal.deadline}}</td>
                                    <td>{{item.progress|floatformat:2}}%</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                                </table>
                            <canvas id="worldwide-sales"></canvas>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- Sales Chart End -->


            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Recent Transactions</h6>
                        <a href="{% url 'transaction_list' %}">Show All</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    
                                    <th scope="col">Date</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Transaction Type</th>
                                    
                                    <th scope="col">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for transaction in transactions %}
                                <tr>
                    
                                    
                                    <td>{{transaction.date}}</td>
                                    <td>{{transaction.title}}</td>
                                    <td>{{transaction.amount|floatformat:2}}</td>
                                    <td>{{transaction.transaction_type}}</td>
                                    
                                    {% if transaction.transaction_type == 'Income' %}
                                    <td>Credit</td>
                                    {% else %}
                                    <td>Debit</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>                        
                    </div>
                    <br>
                    {% if transactions %}
                    <a href="{% url 'transaction_report' %}"  class="btn btn-primary">Generate Report</a>
                    {% endif %}
                </div>
            </div>
            <!-- Recent Sales End -->


            <!-- Widgets Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Graph of your expense</h6>
                                <!-- <a href="{% url 'goal_list' %}">Show All</a> -->
                            </div>
                            {% if chart_data %}
        <img src="data:image/png;base64,{{ chart_data }}" alt="Expenses Bar Chart">
    {% else %}
        <p>No expense data available to display a chart.</p>
    {% endif %}
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- Widgets End -->


            
        
        {% endblock %}
        <!-- Content End -->


      