{% load static %}

<div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h5 class="text-primary"><i class="fa fa-hashtag me-2"></i>EXPENSE TRACKER</h5>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        {% if request.user.profile.profile_image %}
                        <img class="rounded-circle" src="{{ request.user.profile.profile_image.url }}" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                        {% else %}
                        <img class="rounded-circle" src="{% static 'img/user.png' %}" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                        {% endif %}
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">{{request.user|capfirst}}</h6>
                        
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="{% url 'dashboard' %}" class="nav-item nav-link {% if request.resolver_match.url_name == 'dashboard' %} active {% endif %}"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    
                    <a href="{% url 'profile' %}" class="nav-item nav-link {% if request.resolver_match.url_name == 'profile' %} active {% endif %}"><i class="bi bi-person-circle"></i>Profile</a>
                    
                    <a href="{% url 'goal' %}" class="nav-item nav-link {% if request.resolver_match.url_name == 'goal' %} active {% endif %}"><i class="fa fa-table me-2"></i>Add Goal</a>
                    <a href="{% url 'transaction' %}" class="nav-item nav-link {% if request.resolver_match.url_name == 'transaction' %} active {% endif %} "><i class="fa fa-chart-bar me-2"></i>Add Transaction</a>
                   
                </div>
            </nav>
        </div>